
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  border-radius: border-box;
}
body {
  font-size: 1rem;
  font-family: sans-serif;
  color: white;
  background-color: #153448;
}
html,
.body {
  overflow-x: hidden;
}
h1 {
  font-size: 3em;
  color: white;
  font-weight: 500;
  text-align: center;
  padding: 10px;
}
h3 {
  font-size: 2em;
  color: white;
  font-weight: 500;
}
p{
    padding-top: 10px;
}
ul{
list-style: none ;
padding: 20px;
}
button {
  background-color: #e1f7f5;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  margin-top: 10px;
  color: #1e0342;
  border: 1px solid #0e46a3;
}
button:hover {
  background-color: aqua;
  transform: scale(95%);
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
@media screen and (max-width: 59.4em) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
.headerlog {
  text-transform: capitalize;
}
.navlist {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.navlink {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}
.titles {
  height: 70vh;
  background-image: url(./assets/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  height: 4vh;
}
.subtitle1,
.subtitle2,
.subtitle3 {
  color: rgb(255, 127, 138);
}
.subtitle1 {
  color: blanchedalmond;
  font-size: 3rem;
}
.subtitle2 {
  text-transform: capitalize;
  font-size: 4rem;
  text-transform: uppercase;
}
.subtitle3 {
  text-transform: capitalize;
  font-family: sans-serif;
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  color: aqua;

}
.abt-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-subtitle{
    color: rgb(21, 196, 220);
    font-size: 20px;
}
.about {
  border-radius: 10px;
  display: flex;
  gap: 2rem;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 3em;
}
.about-container img {
  width: 80%;
}

.maintitle {
  color: rgb(11, 233, 207);
  letter-spacing: 1px;
  font-family: "Dancing Script", cursive;
}
.abt-haven {
  border-radius: 20px;
  width: 100px;
  transform: scale(1.2s);
}
.abt-text {
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.2;
}
.reserve-cta {
  display: block;
  width: max-content;
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;
  background-color: black;
}
.amen {
  color: white;
  text-align: center;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 10px;
}
.rooms-container img {
  width: 30%;
}
img:hover{
    transform: scale(95%);
    transition: 0.5s ease;
}
.availablerooms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.rooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 10px;

  border: 2px solid rgb(12, 159, 238);
  margin: 1em;
  border-radius: 10px;
  padding-bottom: 10px;
}
.button-container {
  background-color: blue;
  border-radius: 10px;
}
.rooms img {
  width: 80%;
  border-radius: 20px;
}
.amenities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin: 1em;
  padding: 10px;
  border: 2px solid rgb(0, 123, 255);
  border-radius: 10px;
}
.amenities-container img {
  width: 30%;
}
.offers img {
  width: 80%;
}
.form-container {
  padding: 10px;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-decoration: none;
}
.form-container {
  margin: 10px;
  color: white;
  border: 1px solid rgb(17, 44, 195);
  border-radius: 10px;
}
input {
  padding: 10px;
  border: 2px solid rgb(26, 216, 168);
  border-radius: 10px;
}
#room {
  padding: 10px;
  border: 2px solid rgb(26, 194, 216);
  border-radius: 10px;
}
#txt{
    padding: 10px;
    border:2px solid rgb(26, 194, 216);
    border-radius:10px ;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
    }
}
@media(max-width:900px){
    .contact-container{
    flex-direction: column;
}

}
@media(max-width:900px){
    .header{
    flex-direction: column;
}
}